/* ImageDisplay.css */
.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 87vh;
    /* background-color: #f0f0f0; */
    overflow: hidden; /* Hide any potential overflow */
  }
  
  .image-container img {
    width: 100%; /* Cover the width of the container */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Make sure the image doesn't exceed container height */
  }

  .image-text {
    font-size: 4vw;
  }

  .image-text-two {
    font-size:  4.5vw;
  }


  /* medium-width */
  @media (max-width: 768px) {  

    .image-container {
        height: 35vh;
      }

    .image-text {
      font-size: 8vw; /* Increase font size for smaller screens */
    }
    .image-text-two {
        font-size:  8.5vw;
      }
  }

  /*smallwidth*/

